NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_SITE_URL=https://xn--b1apekb3anb5cpb.xn--p1ai
NEXT_PUBLIC_IOS_APP_URL=https://github.com/Overl1te/EcoDesman-mobile
NEXT_PUBLIC_ANDROID_APP_URL=https://github.com/Overl1te/EcoDesman-mobile/releases
NEXT_PUBLIC_MOBILE_APP_REPOSITORY_URL=https://github.com/Overl1te/EcoDesman-mobile
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_YANDEX_VERIFICATION=
